body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #2e2f42;
}

a:active {
  color: inherit;
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

nav a:hover {
  color: #404bbf;
}

nav a:focus {
  color: #404bbf;
}

nav a:active {
  color: #404bbf;
}

address a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
address a:hover {
  color: #404bbf;
}

address a:focus {
  color: #404bbf;
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

a .web {
  color: #4d5ae5; /* колір для Web */
}

a .studio {
  color: #2e2f42; /* колір для Studio */
}

.studio-main {
  background: #2e2f42;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

.button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team {
  background: #f4f4fd;
}

.team li {
  background: #fff;
}

.team h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.footer {
  background: #2e2f42;
}

a .web-f {
  color: #4d5ae5; /* колір для Web у футері */
}
a .studio-f {
  color: #f4f4fd; /* колір для Studio у футері */
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
